<div class="converter">
    <h2>Conversor de Moedas</h2>

  <div class="form-group">
    <label for="fromCurrency">De:</label>
    <select id="fromCurrency" [(ngModel)]="fromCurrency">
      <option *ngFor="let currency of currencies" [value]="currency.code">
        {{ currency.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="toCurrency">Para:</label>
    <select id="toCurrency" [(ngModel)]="toCurrency">
      <option *ngFor="let currency of currencies" [value]="currency.code">
        {{ currency.name }}</option>
    </select>
  </div>

  <div class="form-group_amount">
    <label for="amount">Quantia:</label>
    <input id="amount" [(ngModel)]="amount" placeholder="Inserir Quantia" type="number" />
  </div>

  <button class="convert-button" (click)="convert()">Converter</button>

  <div class="result" *ngIf="convertedAmountFormatted">
    Valor Convertido: {{ convertedAmountFormatted }}
  </div>
</div>
